@import '../../styles/var';

.section {
  background-image: url(../../assets/images/mainSection/back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #03031a;
  padding: 185px 0 120px;
}

.title {
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: $white;
  font-family: 'JetBrainsMono', sans-serif;
  font-family: 'Odibee Sans', sans-serif;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  max-width: 560px;
  width: 100%;
  margin: 10px auto 0;
  text-align: center;
}



.yellow {
  color: $yellow;
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 4px 35px 3px rgba($yellow, 0.75);
  }
}

.blue {
  color: $blueLight;
  position: relative;
  display: inline-block;
  padding-left: 8px;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 4px 35px 3px rgba($blueLight, 0.75);
  }
}

.red {
  color: $red;
  position: relative;
  display: inline-block;
  padding-left: 8px;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 4px 35px 3px rgba($red, 0.75);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  border-radius: 10px;
  padding: 21px 20px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  white-space: nowrap;
  cursor: pointer;
  max-width: 232px;
  width: 100%;
  margin: 20px auto 0;
}
