@import '../../styles/var';

.section {
  background-image: url(../../assets/images/Helper/back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #03031a;
  padding: 160px 0;
}

.title {
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: $white;
}

.blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 80px -20px 0;
}

.block {
  width: calc(33.333% - 40px);
  margin: 0 20px;
}
