@import './reset.css';
@import './var';

body {
  background: #03031a;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
