@import '../../styles/var';

.section {
  padding: 160px 0;
}

.title {
  font-weight: 400;
  font-size: 66px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -1.5px;
  color: $black;
}

.subtitle {
  font-weight: 400;
  font-size: 46px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: $black;
  margin-top: 54px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba($black, 0.7);
  max-width: 622px;
  width: 100%;
  margin: 16px auto 80px;
}
