@import '../../styles/var';

.section {
  padding: 160px 0;
}

.title {
  font-weight: 400;
  font-size: 66px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -1.5px;
  color: $black;
}

.subtitle {
  font-weight: 400;
  font-size: 46px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: $black;
  margin-top: 54px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba($black, 0.7);
  max-width: 622px;
  width: 100%;
  margin: 16px auto 0;
}

.yellowBlock {
  background: $yellow;
  color: $black;
  background: linear-gradient(180deg, #ffcf5e 0%, #ffb55e 135.22%);
  border-radius: 5px;
  padding: 2px 6px;
}

.blocks {
  display: flex;
  justify-content: space-between;
  margin: 80px -20px 0;
}

.block {
  width: calc(33.333% - 20px);
  margin: 0 20px;
}
