@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium.eot');
  src: local('Montserrat'), local('Montserrat'),
    url('Montserrat-Medium?#iefix') format('embedded-opentype'),
    url('Montserrat-Medium.woff') format('woff'),
    url('Montserrat-Mediumr.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
